asgiref==3.3.4
attrs==21.2.0

charset-normalizer==2.0.9
dj-database-url==0.5.0
Django==3.2
django-heroku==0.0.0
django-jet-reboot==1.1.1
django-paypal==1.1.1
djangorestframework==3.12.4
feedparser==6.0.8

lxml==4.6.3
Pillow==7.2.0
pycparser==2.21
PyMySQL==1.0.2
pyOpenSSL==21.0.0
pytz==2020.1
reportlab==3.5.67
requests==2.25.1
selenium==4.1.0
sortedcontainers==2.4.0
sqlparse==0.3.1
trio==0.19.0
trio-websocket==0.9.2
typing-extensions==3.10.0.0
whitenoise==5.2.0
